* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: sans-serif;
  }
  
  #container {
    background-color: lightcoral;
    width: 100vw;
    height: 80vh;
    padding: 20px;
  }
  
  #item {
    width: 100px;
    height: 100px;
    border: 5px solid white;
    border-radius: 10px;
    animation: earthKaChakkar 2s ease-in-out 1s infinite normal;
  }
  
  @keyframes earthKaChakkar {
    0% {
      transform: translateX(0vw);
      background-color: coral;
    }
  
    25% {
      transform: translateX(90vw);
      background-color: green;
    }
  
    50% {
      transform: translateX(90vw) translateY(60vh);
      background-color: rgb(32, 0, 128);
    }
  
    100% {
      transform: translateX(0vw) translateY(60vh);
      background-color: rgb(255, 221, 0);
    }
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  #container {
    background-color: rgb(11, 235, 247);
    width: 100vw;
    height: 85vh;
    border: 5px solid rgb(0, 255, 51);
    position: relative;
  }
  
  #ball {
    background-color: rgb(255, 0, 132);
    height: 60px;
    width: 60px;
    border-radius: 50%;
    position: absolute;
    bottom: 0px;
    /* animation: bounce 1s ease-out 1s infinite; */
    
    animation: smoothBounceX 3s linear infinite,
      smoothBounceY 1s ease-out infinite alternate;
  }
  
  @keyframes smoothBounceX {
    from {
      left: 0;
    }
  
    to {
      left: 100%;
    }
  }
  
  @keyframes smoothBounceY {
    0% {
      bottom: 0;
    }
  
    50% {
      bottom: 100%;
    }
  
    100% {
      bottom: 0%;
    }
  }
  
  @keyframes bounce {
    0% {
      transform: translate(0);
    }
  
    25% {
      transform: translate(20vw, -50vh);
    }
  
    50% {
      transform: translate(40vw, 0vh);
    }
  
    75% {
      transform: translate(60vw, -50vh);
    }
  
    100% {
      transform: translate(93vw, 0vh);
    }
  }